 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        Community Speech Therapy, Inc. was founded by Milena Rodriguez Mendez, M.S., CCC-SLP, an ASHA certified bilingual speech therapist. Milena received her Master of Science in Speech Language Pathology from Nova Southeastern University, receiving the designation of Highest Honors. Milena has experience working with children and adults of all ages in a variety of settings including private practice, outpatient, skilled nursing facilities, and schools.
		    </p>
                </div>
                <div class="col-lg-4">
                    <p>Our goal is to provide quality therapy services, integrating evidenced based practices with a family centered approach. We have a strong commitment to families, and our community as we strongly believe community is built on communication. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                   </a>
                </div>
            </div>
        </div>
    </section>
